.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 1rem 1rem 4rem 1rem;
}

.card {
    padding: 2rem 1rem 4rem 1rem;
    margin: 1rem;
    box-shadow: 1px 1px 15px black;
    width: 140px;
    height: 200px;
}

.card:hover {
    box-shadow: 1px 1px 15px rgb(0, 22, 94);
}


b,
span {
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}

@media screen and (max-width: 480px){
    .container {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}